// $primary: #149179;
// $primary-overlay: rgba(22, 160, 133, 0.8);
$primary: #2980b9;
$primary-overlay: rgba(41, 128, 185, 0.8);
// $primary: #003171;
// $primary-overlay: rgba(0, 49, 113, 0.8);
// $primary: #d35400;
// $primary-overlay: rgba(211, 84, 0, 1.0);

.navbar {
    box-shadow: 2px 2px 5px $primary;
    opacity: 0.9;
    background: #ffffff;

    .nav-item {
        font-size: 1.2rem;
        padding-right: 1.4rem;

        .active-page {
            color: #ffffff !important;
            background: $primary;
            border-radius: 20px;
            transition: background 0.4s,
                color 0.4s;
            -webkit-transition: background 0.4s,
                color 0.4s;
        }

        .nav-link {
            color: #000000;
            border-radius: 20px;
            transition: background 0.4s,
                color 0.4s;
            -webkit-transition: background 0.4s,
                color 0.4s;
            padding-left: 25px;
            padding-right: 25px;
        }

        .nav-link:hover {
            color: #ffffff;
            background: $primary;
            border-radius: 20px;
            transition: background 0.4s,
                color 0.4s;
            -webkit-transition: background 0.4s,
                color 0.4s;
            padding-left: 25px;
            padding-right: 25px;
        }
    }
}

.brand-name {
    font-family: Lobster Two !important;
    font-size: 300%;
    font-weight: 400;
    color: $primary;
}

#showcase {
    position: relative;
    background: url(/img/header-bg.jpg);
    // background: url(/img/main-bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 600px;

    .primary-overlay {
        background: $primary-overlay;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.main-header-subtext {
    width: 60%;
    margin: auto;
}

.info-header {
    width: 60%;
    margin: auto;
    border-bottom: 1px #dddddd solid;
}

#footerSocialBar {
    background: $primary;
}